
# Dependencies
# Editor directories and files
# Logs
# Misc
# OS
# Production
# Testing
# Vite
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*.swo
*.swp
*~
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.idea/
.pnp.js
.vite/
.vscode/
/.pnp
/build
/coverage
/dist
Thumbs.db
lerna-debug.log*
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
